body {
  font-family: Arial, sans-serif;
  background-color: #222;
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
}

.container {
  background-color: #333;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #796447;
}

.add-task {
  display: flex;
  margin-bottom: 10px;
}

#task-input {
  flex: 1;
  padding: 5px;
  border: 1px solid #555;
  background-color: #444;
  color: white;
}

#add-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.tab-button {
  background-color: #444;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  color: white;
}

.tab-button.active {
  background-color: #007bff;
  color: white;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #555;
  padding: 5px 10px;
  margin: 5px 0;
  background-color: #333;
}

.task .task-text {
  flex: 1;
  color: white;
}

.task .delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 3px 5px;
  cursor: pointer;
}

.complite-task {
  text-decoration: line-through;
  color: #888;
  font-style: italic;
}
